import logging.handlers
import os
import shutil
import tempfile

import langchain
from fastchat.utils import build_logger

# 是否显示详细日志
log_verbose = os.environ.get('LOG_VERBOSE', 'False') == 'True'
langchain.verbose = False
log_level = int(os.environ.get('LOG_LEVEL', logging.INFO))
log_back_count = 14

# 通常情况下不需要更改以下内容

# 日志格式
LOG_FORMAT = "%(asctime)s - %(filename)s[line:%(lineno)d] - %(levelname)s: %(message)s"
logging.basicConfig(format=LOG_FORMAT)

# 日志存储路径
LOG_PATH = os.path.join(os.path.dirname(os.path.dirname(__file__)), "logs")
if not os.path.exists(LOG_PATH):
    os.mkdir(LOG_PATH)

os.environ['LOGDIR'] = LOG_PATH


def __build_rollover_logger__(logger_name, logger_filename):
    _logger = build_logger(logger_name, logger_filename)
    _logger.setLevel(log_level)
    _logger.handlers[0].setFormatter(logging.Formatter(LOG_FORMAT, datefmt="%Y-%m-%d %H:%M:%S"))
    _logger.handlers[0].backupCount = log_back_count
    return _logger


logger = __build_rollover_logger__("app", os.path.join(LOG_PATH, "app.log"))

# 临时文件目录，主要用于文件对话
BASE_TEMP_DIR = os.path.join(tempfile.gettempdir(), "chatchat")
try:
    shutil.rmtree(BASE_TEMP_DIR)
except Exception:
    pass
os.makedirs(BASE_TEMP_DIR, exist_ok=True)
